body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
    background-color: #FFF0D1;
}

/* Header container styling */
.header-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 2%;
    text-align: center;
}

/* Title Box styling */
.title-box {
    background-color: #fccb82;
    padding: 20px 30px;
    border: 5px solid #543310;
    border-radius: 10px;
    margin-bottom: 10px;
}

/* Logo styling */
.logo {
    width: 100px;
    height: 100px;
}

/* Graphic design */
.image-container {
    overflow: hidden;
    display: inline-block;
}

.image-container img {
    width: 100%;
    height: auto;
    object-fit: contain;
}

/* Title styling */
h1 {
    font-size: 2em;
    margin: 0;
}

/* Sections container styling */
.box-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    position: absolute;
    bottom: 10%;
    width: 100%;
    z-index: 5;
}

/* Individual box styling */
.box {
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border: 5px solid #543310;
    background-color: #fccb82;
    font-size: 20px;
    position: relative;
    padding: 20px;
}

.box-title {
    font-size: 1.5em;
    text-align: center;
    margin-top: 0px;
    color: #543310;
}

.box-content {
    padding: 0px;
}

/* Button styling */
button {
    padding: 15px 30px;
    font-size: 18px;
    cursor: pointer;
    border: 2px solid #543310;
    background-color: #543310;
    color: #fff;
    border-radius: 5px;
    z-index: 10;
}

/* Button hover effect */
button:hover {
    background-color: #8D493A;
}

/* Form styling */
form {
    margin: 0;
}
