<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CareBrew - Get Started</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header class="header-container">
        <div class="title-box">
            <h1>Welcome to CareBrew!</h1>
        </div>
        <img src="{{ url_for('static', filename='logo.png') }}" alt="CareBrew Logo" class="logo">
    </header>

    <div class="box" style="width: 25%; height: 40vh; position: absolute; bottom: 5%; left: 5%;">
        <h3 class="box-title">About CareBrew</h3>
    </div>

    <div class="box" style="width: 25%; height: 40vh; position: absolute; bottom: 5%; left: 50%; transform: translateX(-50%);">
        <h3 class="box-title">Training</h3>
        <form action="{{ url_for('training_mode') }}">
            <button type="submit">Click to get started</button>
        </form>
    </div>

    <div class="box" style="width: 25%; height: 40vh; position: absolute; bottom: 5%; right: 5%;">
        <h3 class="box-title">CareBrew Team</h3>
    </div>

</body>
</html>
