<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CareBrew - Training Mode</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<body>
    <header class="header-container">
        <img src="{{ url_for('static', filename='logo.png') }}" alt="CareBrew Logo" class="logo">
        <h1>Training Mode</h1>
    </header>
    <div class="container">
        <p><strong>Scenario:</strong> {{ scenario }}</p>
        <p><strong>Question:</strong> {{ question }}</p>
        
        <form method="get" class="form-section">
            <button type="submit" name="shuffle">Shuffle Scenario</button>
        </form>
        
        <form method="post" class="form-section">
            <label for="user_response">Your Response:</label>
            <textarea name="user_response" required></textarea>
            <label for="number_response">Choose how many suggestions you wish to see:</label>
            <select id="number_response" name="number_response">
                <option value="1" selected>1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select>
            
            <div class="button" style="margin-top: 15px; display: block;">
                <button type="submit" class="training-button">Evaluate</button>
            </div>
            
            <label style="margin-top: 15px; display: block;">
                <input type="checkbox" name="save_data" value="true" checked> Contribute your response to improve CareBrew ❤️
            </label>
        </form>
    </div>
    
    <a href="{{ url_for('base') }}" class="back-button">Home page</a>
</body>
</html>
